header{
    background: #c7aeae;
    text-align: center;
    padding: 20px;
}

body{
    background-size: 100%;
    background-image: url("https://art.ngfiles.com/images/3003000/3003878_moawling_pixel-day-2023-site-skin.png?f1674455401");
}

footer{
    align-self: center;
    text-align: center;
    background-color: #241c47;
    color: whitesmoke;
}

.topnav {
    overflow: hidden;
    background-color: #463c72;
}

.topnav a{
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: whitesmoke;
}

.topnav a:hover{
    background-color: #a52a2a;
    color: #000000;
}

.column {
    float: left;
    text-align: center;
}

.column.side{
    width: 20%;
    background-color: #241c47;
    color: whitesmoke;
}

.column.middle{
    width: 60%;
    background-color: #463c72;
    color: whitesmoke;
}

@media screen and (max-width: 600px){
    .column{
        width: 100%;
    }
}